In [1]:
# %pip install kaggle

In [2]:


import pandas as pd
import numpy as np

import os
from kaggle.api.kaggle_api_extended import KaggleApi
import time

In [3]:
version = 'modelito_exp' # UPDATE

In [4]:
# base_path = '/home/clas_giulia_s/buckets/b1/'

# files_path = base_path + f'exp/competencia_2/{version}/'

# competition = 'dm-ey-f-2024-segunda'

base_path = '/Users/ignacio/MAESTRIA/DMEF/'

files_path = base_path + f'exp/competencia_1/{version}/'

competition = 'dm-ey-f-2024-primera'

In [5]:
puntos_corte = np.linspace(9000, 13000, 50).astype(int)
puntos_corte

array([ 9000,  9081,  9163,  9244,  9326,  9408,  9489,  9571,  9653,
        9734,  9816,  9897,  9979, 10061, 10142, 10224, 10306, 10387,
       10469, 10551, 10632, 10714, 10795, 10877, 10959, 11040, 11122,
       11204, 11285, 11367, 11448, 11530, 11612, 11693, 11775, 11857,
       11938, 12020, 12102, 12183, 12265, 12346, 12428, 12510, 12591,
       12673, 12755, 12836, 12918, 13000])

In [6]:
# diccionario con la semilla y el corte de cada version
combinations = {}

counter = 1
for corte in puntos_corte:
    combinations[counter] = {'seed':'semillero 100','corte':int(corte)}
    counter += 1

# path de cada version        
files = [f'{files_path}results_{version}_{i}.csv' for i in range(1,51)]

# descripcion de cada edicion
descriptions= [
    f"seed = {combinations[i]['seed']}, corte = {combinations[i]['corte']}"
    for i in range(1, len(combinations)+1)
]

In [7]:
api = KaggleApi()
api.authenticate()

In [8]:
archivos = []
scores = []
descripciones = []

for i in range(len(files)): # UPDATE!

    submitted = False
    while submitted == False:
        try:
            api.competition_submit(file_name=files[i],
                                   message=descriptions[i],
                                   competition=competition)
        except Exception as e:
            print(f'Error al subir {files[i]}: {e}')
            time.sleep(1000)
        else:
            submitted = True 

            # Esperamos un poco para que kaggle no tire error
            time.sleep(30)

            submissions = api.competition_submissions(competition, page_size=1) # traigo solo la ultima
            ultima = submissions[0]
            
            archivo = ultima.fileName
            public_score = ultima.publicScore
            descripcion = ultima.description
            
            archivos.append(archivo)
            scores.append(public_score)
            descripciones.append(descripcion)
            
            print(f'{archivo} subido con exito, public score:{public_score}')

100%|██████████| 1.93M/1.93M [00:11<00:00, 180kB/s]

results_modelito_exp_1.csv subido con exito, public score:100.867

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.01MB/s]

results_modelito_exp_2.csv subido con exito, public score:101.287

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.01MB/s]

results_modelito_exp_3.csv subido con exito, public score:100.797

100%|██████████| 1.93M/1.93M [00:02<00:00, 954kB/s]

results_modelito_exp_4.csv subido con exito, public score:102.057

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.01MB/s]

results_modelito_exp_5.csv subido con exito, public score:101.614

100%|██████████| 1.93M/1.93M [00:02<00:00, 994kB/s]

results_modelito_exp_6.csv subido con exito, public score:101.030

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.01MB/s]

results_modelito_exp_7.csv subido con exito, public score:102.430

100%|██████████| 1.93M/1.93M [00:02<00:00, 992kB/s]

results_modelito_exp_8.csv subido con exito, public score:101.940

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.02MB/s]

results_modelito_exp_9.csv subido con exito, public score:103.387

100%|██████████| 1.93M/1.93M [00:02<00:00, 994kB/s]

results_modelito_exp_10.csv subido con exito, public score:103.714

100%|██████████| 1.93M/1.93M [00:02<00:00, 987kB/s]

results_modelito_exp_11.csv subido con exito, public score:104.087

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.00MB/s]

results_modelito_exp_12.csv subido con exito, public score:104.390

100%|██████████| 1.93M/1.93M [00:02<00:00, 989kB/s]

results_modelito_exp_13.csv subido con exito, public score:103.877

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.00MB/s]

results_modelito_exp_14.csv subido con exito, public score:104.157

100%|██████████| 1.93M/1.93M [00:02<00:00, 994kB/s]

results_modelito_exp_15.csv subido con exito, public score:103.667

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.03MB/s]

results_modelito_exp_16.csv subido con exito, public score:102.990

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.03MB/s]

results_modelito_exp_17.csv subido con exito, public score:102.454

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.01MB/s]

results_modelito_exp_18.csv subido con exito, public score:102.944

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.03MB/s]

results_modelito_exp_19.csv subido con exito, public score:102.407

100%|██████████| 1.93M/1.93M [00:02<00:00, 991kB/s]

results_modelito_exp_20.csv subido con exito, public score:102.734

100%|██████████| 1.93M/1.93M [00:02<00:00, 987kB/s]

results_modelito_exp_21.csv subido con exito, public score:104.134

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.01MB/s]

results_modelito_exp_22.csv subido con exito, public score:103.667

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.01MB/s]

results_modelito_exp_23.csv subido con exito, public score:103.900

100%|██████████| 1.93M/1.93M [00:02<00:00, 928kB/s]

results_modelito_exp_24.csv subido con exito, public score:104.180

100%|██████████| 1.93M/1.93M [00:02<00:00, 979kB/s]

results_modelito_exp_25.csv subido con exito, public score:103.620

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.01MB/s]

results_modelito_exp_26.csv subido con exito, public score:103.994

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.02MB/s]

results_modelito_exp_27.csv subido con exito, public score:103.247

100%|██████████| 1.93M/1.93M [00:02<00:00, 997kB/s]

results_modelito_exp_28.csv subido con exito, public score:102.617

100%|██████████| 1.93M/1.93M [00:02<00:00, 928kB/s]

results_modelito_exp_29.csv subido con exito, public score:102.127

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.00MB/s]

results_modelito_exp_30.csv subido con exito, public score:101.567

100%|██████████| 1.93M/1.93M [00:02<00:00, 994kB/s]

results_modelito_exp_31.csv subido con exito, public score:102.080

100%|██████████| 1.93M/1.93M [00:02<00:00, 987kB/s]

results_modelito_exp_32.csv subido con exito, public score:101.520

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.02MB/s]

results_modelito_exp_33.csv subido con exito, public score:101.847

100%|██████████| 1.93M/1.93M [00:02<00:00, 822kB/s]

results_modelito_exp_34.csv subido con exito, public score:101.264

100%|██████████| 1.93M/1.93M [00:02<00:00, 939kB/s]

results_modelito_exp_35.csv subido con exito, public score:100.797

100%|██████████| 1.93M/1.93M [00:02<00:00, 986kB/s]

results_modelito_exp_36.csv subido con exito, public score:101.077

100%|██████████| 1.93M/1.93M [00:02<00:00, 986kB/s]

results_modelito_exp_37.csv subido con exito, public score:100.540

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.02MB/s]

results_modelito_exp_38.csv subido con exito, public score:99.817

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.01MB/s]

results_modelito_exp_39.csv subido con exito, public score:99.257

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.01MB/s]

results_modelito_exp_40.csv subido con exito, public score:99.537

100%|██████████| 1.93M/1.93M [00:02<00:00, 989kB/s]

results_modelito_exp_41.csv subido con exito, public score:99.630

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.00MB/s]

results_modelito_exp_42.csv subido con exito, public score:99.024

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.01MB/s]

results_modelito_exp_43.csv subido con exito, public score:98.580

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.02MB/s]

results_modelito_exp_44.csv subido con exito, public score:99.000

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.01MB/s]

results_modelito_exp_45.csv subido con exito, public score:98.487

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.00MB/s]

results_modelito_exp_46.csv subido con exito, public score:98.860

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.02MB/s]

results_modelito_exp_47.csv subido con exito, public score:98.277

100%|██████████| 1.93M/1.93M [00:02<00:00, 1.00MB/s]

results_modelito_exp_48.csv subido con exito, public score:97.600

100%|██████████| 1.93M/1.93M [00:01<00:00, 1.02MB/s]

results_modelito_exp_49.csv subido con exito, public score:97.134

100%|██████████| 1.93M/1.93M [00:02<00:00, 986kB/s]

results_modelito_exp_50.csv subido con exito, public score:97.554

In [9]:
resultados = pd.DataFrame({
    'Archivo': archivos,
    'Public score': scores,
    'Description':descripciones
})

df = pd.DataFrame({
    'seed': np.repeat('semillero', len(puntos_corte)),
    'corte': np.tile(puntos_corte, 1)
})

resultados = pd.concat([resultados, df], axis=1)

In [10]:
resultados

,Archivo,Public score,Description,seed,corte
0,results_modelito_exp_1.csv,100.867,"seed = semillero 100, corte = 9000",semillero,9000
1,results_modelito_exp_2.csv,101.287,"seed = semillero 100, corte = 9081",semillero,9081
2,results_modelito_exp_3.csv,100.797,"seed = semillero 100, corte = 9163",semillero,9163
3,results_modelito_exp_4.csv,102.057,"seed = semillero 100, corte = 9244",semillero,9244
4,results_modelito_exp_5.csv,101.614,"seed = semillero 100, corte = 9326",semillero,9326
5,results_modelito_exp_6.csv,101.030,"seed = semillero 100, corte = 9408",semillero,9408
6,results_modelito_exp_7.csv,102.430,"seed = semillero 100, corte = 9489",semillero,9489
7,results_modelito_exp_8.csv,101.940,"seed = semillero 100, corte = 9571",semillero,9571
8,results_modelito_exp_9.csv,103.387,"seed = semillero 100, corte = 9653",semillero,9653
9,results_modelito_exp_10.csv,103.714,"seed = semillero 100, corte = 9734",semillero,9734
10,results_modelito_exp_11.csv,104.087,"seed = semillero 100, corte = 9816",semillero,9816
11,results_modelito_exp_12.csv,104.390,"seed = semillero 100, corte = 9897",semillero,9897
12,results_modelito_exp_13.csv,103.877,"seed = semillero 100, corte = 9979",semillero,9979
13,results_modelito_exp_14.csv,104.157,"seed = semillero 100, corte = 10061",semillero,10061
14,results_modelito_exp_15.csv,103.667,"seed = semillero 100, corte = 10142",semillero,10142
15,results_modelito_exp_16.csv,102.990,"seed = semillero 100, corte = 10224",semillero,10224
16,results_modelito_exp_17.csv,102.454,"seed = semillero 100, corte = 10306",semillero,10306
17,results_modelito_exp_18.csv,102.944,"seed = semillero 100, corte = 10387",semillero,10387
18,results_modelito_exp_19.csv,102.407,"seed = semillero 100, corte = 10469",semillero,10469
19,results_modelito_exp_20.csv,102.734,"seed = semillero 100, corte = 10551",semillero,10551
20,results_modelito_exp_21.csv,104.134,"seed = semillero 100, corte = 10632",semillero,10632
21,results_modelito_exp_22.csv,103.667,"seed = semillero 100, corte = 10714",semillero,10714
22,results_modelito_exp_23.csv,103.900,"seed = semillero 100, corte = 10795",semillero,10795
23,results_modelito_exp_24.csv,104.180,"seed = semillero 100, corte = 10877",semillero,10877
24,results_modelito_exp_25.csv,103.620,"seed = semillero 100, corte = 10959",semillero,10959
25,results_modelito_exp_26.csv,103.994,"seed = semillero 100, corte = 11040",semillero,11040
26,results_modelito_exp_27.csv,103.247,"seed = semillero 100, corte = 11122",semillero,11122
27,results_modelito_exp_28.csv,102.617,"seed = semillero 100, corte = 11204",semillero,11204
28,results_modelito_exp_29.csv,102.127,"seed = semillero 100, corte = 11285",semillero,11285
29,results_modelito_exp_30.csv,101.567,"seed = semillero 100, corte = 11367",semillero,11367
30,results_modelito_exp_31.csv,102.080,"seed = semillero 100, corte = 11448",semillero,11448
31,results_modelito_exp_32.csv,101.520,"seed = semillero 100, corte = 11530",semillero,11530
32,results_modelito_exp_33.csv,101.847,"seed = semillero 100, corte = 11612",semillero,11612
33,results_modelito_exp_34.csv,101.264,"seed = semillero 100, corte = 11693",semillero,11693
34,results_modelito_exp_35.csv,100.797,"seed = semillero 100, corte = 11775",semillero,11775
35,results_modelito_exp_36.csv,101.077,"seed = semillero 100, corte = 11857",semillero,11857
36,results_modelito_exp_37.csv,100.540,"seed = semillero 100, corte = 11938",semillero,11938
37,results_modelito_exp_38.csv,99.817,"seed = semillero 100, corte = 12020",semillero,12020
38,results_modelito_exp_39.csv,99.257,"seed = semillero 100, corte = 12102",semillero,12102
39,results_modelito_exp_40.csv,99.537,"seed = semillero 100, corte = 12183",semillero,12183
40,results_modelito_exp_41.csv,99.630,"seed = semillero 100, corte = 12265",semillero,12265
41,results_modelito_exp_42.csv,99.024,"seed = semillero 100, corte = 12346",semillero,12346
42,results_modelito_exp_43.csv,98.580,"seed = semillero 100, corte = 12428",semillero,12428
43,results_modelito_exp_44.csv,99.000,"seed = semillero 100, corte = 12510",semillero,12510
44,results_modelito_exp_45.csv,98.487,"seed = semillero 100, corte = 12591",semillero,12591
45,results_modelito_exp_46.csv,98.860,"seed = semillero 100, corte = 12673",semillero,12673
46,results_modelito_exp_47.csv,98.277,"seed = semillero 100, corte = 12755",semillero,12755
47,results_modelito_exp_48.csv,97.600,"seed = semillero 100, corte = 12836",semillero,12836
48,results_modelito_exp_49.csv,97.134,"seed = semillero 100, corte = 12918",semillero,12918
49,results_modelito_exp_50.csv,97.554,"seed = semillero 100, corte = 13000",semillero,13000

In [11]:
resultados.to_csv(f'{files_path}scores_{version}.csv', index=False)